[submodule "epita-prepa-computer-science-prog-205-s-04-2028-arthur.wambst"]
	path = epita-prepa-computer-science-prog-205-s-04-2028-arthur.wambst
	url = arthur.wambst@git.forge.epita.fr:p/epita-prepa-computer-science/prog-205-s-04-2028/epita-prepa-computer-science-prog-205-s-04-2028-arthur.wambst.git
